# Here’s How to Give Inputs to a Machine Learning Model

Every data science professional should know about giving inputs to a machine learning model. It helps in calculating the predicted value based on the input values. Most data science beginners skip this step while creating a machine learning project.


To give inputs to a machine learning model, you have to create a NumPy array, where you have to input the values of the features you used to train your machine learning model. Then we can use that array in the model.predict() method, and at the end, it will give the predicted value as an output based on the inputs.


Now let’s learn about giving inputs to a machine learning model with an example using Python. Here I will first train a classification model on the famous Iris dataset, and then, in the end, I will input the values of the features (sepal_length, sepal_width, petal_length, petal_width) to the model to see the predicted output based on the inputs:

In [1]:
import pandas as pd
import numpy as np

In [3]:
Iris = pd.read_csv(r"E:\Data sets\IRIS.csv")

In [4]:
Iris.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [5]:
# Splitting dataset
x = Iris.drop('species',axis=1)

In [6]:
x.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [7]:
y = Iris['species']
y.head()

0    Iris-setosa
1    Iris-setosa
2    Iris-setosa
3    Iris-setosa
4    Iris-setosa
Name: species, dtype: object

In [8]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, 
                                                    test_size=0.2, 
                                                    random_state=0)

In [12]:
# training the model
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors = 1)
knn.fit(x_train,y_train)

KNeighborsClassifier(n_neighbors=1)

In [13]:
# giving inputs to the machine learning model
# features = [[sepal_length, sepal_width, petal_length, petal_width]]
features = np.array([[5, 2.9, 1, 0.2]])
# using inputs to predict the output
prediction = knn.predict(features)
print("Prediction: {}".format(prediction))

Prediction: ['Iris-setosa']

In [14]:
features = np.array([[7, 3.2, 4.7, 1.4]])
prediction = knn.predict(features)
print("Prediction: {}".format(prediction))

Prediction: ['Iris-versicolor']

In [15]:
# So this is how you can give inputs to a model to calculate the predicted value based on the input values.